/* style.css */

body {
    font-family: 'Arial', sans-serif;
}

.social-icons {
    margin: 20px 0;
}

.social-icons a {
    font-size: 30px;
    margin: 0 10px;
    color: #00d1b2; /* Colore dell'icona */
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #00b89c; /* Colore dell'icona al passaggio del mouse */
}

.box {
    transition: transform 0.3s, box-shadow 0.3s;
}

.box:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.footer {
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
}
