body {
    transition: background-color 0.5s, color 0.5s;
}

.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.project-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.2s;
}

.project-card:hover {
    transform: scale(1.05);
}

.neon {
    text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00, 0 0 15px #00ff00;
}
